html, body{
    height: 100%;
    width: 100%;
}

.winner{
    color: green;
}

.container-fluid{
    width: 100%;
    height: 100%;
}

.row{
    height: 50%;
}

.score-display{
    font-size: 6rem;
}

