html, body{
    height: 100%;
    width: 100%;
    background: #212121;
    color: #fff;
    background-image: linear-gradient(to top, #434343 0%, black 100%);
}

.winner{
    color: #00a300;
}

.container-fluid{
    width: 100%;
    height: 100%;
}

.score-row{
    height: 50%;
}

.score-display{
    font-size: 7rem;
}

button, p{
    text-transform: uppercase;
}